<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1 class="navbar_title">Spotify Tracker</h1>
        </div>
        <nav>
            <ul class="nav-tabs">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/top_songs">Top Songs</a></li>
                <li><a href="/top_artists">Top Artists</a></li>
                <li><a href="/Social">Top Genres</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>