<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1 class="navbar-title">Spotify Tracker</h1>
        </div>
        <nav>
            <ul class="nav-tabs">
                <li><a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
                <li><a href="{{ url_for('top_songs') }}" class="{% if request.endpoint == 'top_songs' %}active{% endif %}">Top Songs</a></li>
                <li><a href="{{ url_for('top_artists') }}" class="{% if request.endpoint == 'top_artists' %}active{% endif %}">Top Artists</a></li>
                <li><a href="{{ url_for('top_genres') }}" class="{% if request.endpoint == 'top_genres' %}active{% endif %}">Top Genres</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>