<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Tracker</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>Spotify Tracker</h1>
        </div>
        <nav>
            <ul class="nav-tabs">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#Top Songs">Top Songs</a></li>
                <li><a href="#Top Artists">Top Artists</a></li>
                <li><a href="#Social">Social</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>