body {
    background-color: #1d1c1c; /* Dark background */
    color: #ffffff; /* Text Color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Choose a clean font */
    margin: 0;
    padding: 0;
}

/* Style for the header bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background-color: #333;
    color: white;
}

/* Style for the tabs */
.nav-tabs {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding-right: 10rem;
}

.nav-tabs li {
    display: inline;
}

.nav-tabs a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-tabs a:hover {
    background-color: #575757;
}

/* Active tab style */
.nav-tabs a.active {
    background-color: #1ED760;
    color: white;
}

/* Logo style */
.navbar_title {
    color: #1ED760;
    padding-left: 30px;
}