body {
    background-color: #1d1c1c; /* Dark background */
    color: #ffffff; /* Text Color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Choose a clean font */
    margin: 0;
    padding: 0;
}
