.page_title {
    text-align: center;
    margin-top: 20px;
}
.tabs {
    display: flex;
    justify-content: center; /* Center the tabs */
    margin-bottom: 20px; /* Add some space below the tabs */
    padding: 0 2rem; /* Add some padding to the tabs */
}

.tablink {
    background-color: rgb(50, 48, 48);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 1rem; /* Add some space between the buttons */
    border-radius: 30px;
    color:#ffffff;
    font-weight: bolder;
}

.tablink.active {
    background-color: #1ED760;
}

.track_list {
    color: #ffffff; /* Text Color */
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 2px solid #545454;
    margin: 0 auto; /* Center the tab content */
    width: 75rem; /* Set a maximum width for the content */
}

.track-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.placement {
    font-size: 1rem; 
    font-weight: normal;
    padding-right: 20px;
    padding-left: 4rem;
    text-align: right;
}

.album-art {
    width: 50px; /* Set the width of the album art */
    height: 50px; /* Set the height of the album art */
    margin-right: 10px; /* Add some space between the image and the text */
    vertical-align: middle; /* Align the image vertically with the text */
}

.track-name {
    width: 400px; /* Set a fixed width for the song name */
    max-width: 400px; /* Set a fixed width for the artist name */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if the text overflows */
    white-space: nowrap; /* Prevent text from wrapping */
}

.artist-name {
    padding-left: 50px; /* Add some space between the song name and artist name */
    color: #b3b3b3;
    width: 400px; /* Set a fixed width for the artist name */
    max-width: 400px; /* Set a fixed width for the artist name */
}

.duration {
    padding-left: 3.5rem;
    color: #b3b3b3;
    text-align: right;
    margin-left: auto;
}